{% extends 'base.html.twig' %}

{% block title %}Liste des taches{% endblock %}

{% block body %}
    <h1>Ajouter une tache :</h1>
    {{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    {{ form_label(form.expiryDate) }}
    {{ form_widget(form.expiryDate) }}
    {{ form_rest(form) }}
    <input type="submit" value="Ajouter">
    {{ form_end(form) }}
    <p>{{ msg }}</p>
{% endblock %}
